<?xml version="1.0"?>
<smooks-resource-list xmlns="http://www.milyn.org/xsd/smooks-1.1.xsd"
	                  xmlns:jb="http://www.milyn.org/xsd/smooks/javabean-1.2.xsd">

	<jb:bean beanId="header" class="org.smooks.javabean.JIRA.MILYN_364.Header" createOnElement="#document">
		<jb:expression property="netAmount" initVal="50" execOnElement="items/item">
            += (orderItem.quantity * orderItem.price)
        </jb:expression>
        <jb:expression property="netAmountObj" initVal="50" execOnElement="items/item">
            -= (orderItem.quantity * orderItem.price)
        </jb:expression>
        <jb:expression property="tax">
            this.netAmount * 0.2
        </jb:expression>
        <jb:expression property="totalAmount">
            this.netAmount + this.tax
        </jb:expression>
	</jb:bean>

	<jb:bean beanId="orderItem" class="org.smooks.javabean.JIRA.MILYN_364.OrderItem" createOnElement="items/item">
		<jb:value property="quantity" data="item/units" />
		<jb:value property="price" data="item/price" />
	</jb:bean>

</smooks-resource-list>
