<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
   
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
	      <param name="Target" value="System.out"/>
	      <param name="Threshold" value="debug.out"/>
	      <layout class="org.apache.log4j.PatternLayout">
			 <param name="ConversionPattern" value="%-5p %d{dd-MM HH:mm:ss,SSS} (%F:%M:%L)  %m%n"/>
	      </layout>
	</appender>

	<logger name="org.milyn">
		<level value="DEBUG" />
		<appender-ref ref="console"/>
	</logger>

	<logger name="freemarker">
		<level value="ERROR" />
		<appender-ref ref="console"/>
	</logger>
	
  <root>
   </root>

</log4j:configuration>
