<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console">
            <PatternLayout pattern="%d{ABSOLUTE} %-5p [%t][%c{1}] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.milyn" level="error"/>
        <Logger name="org.milyn.javabean" level="error"/>
        <Logger name="org.milyn.cdr.xpath" level="debug"/>
        <Logger name="freemarker" level="error"/>
        <Logger name="org.apache.activemq" level="info"/>
        <Logger name="org.hsqldb" level="debug"/>

        <Root>
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>