<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml 1577 2010-09-03 09:04:28Z danielbevenius $ -->

<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- ============================== -->
    <!-- Append messages to the console -->
    <!-- ============================== -->

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>

        <layout class="org.apache.log4j.PatternLayout">
            <!-- The default pattern: Date Priority [Category] Message\n -->
            <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%t][%c{1}] %m%n"/>
        </layout>
    </appender>

    <!-- ================ -->
    <!-- Limit categories -->

    <category name="org.milyn">
        <priority value="ERROR"/>
    </category>

    <category name="org.milyn.javabean">
        <priority value="ERROR"/>
    </category>

    <category name="org.milyn.cdr.xpath">
        <priority value="DEBUG"/>
    </category>

    <category name="freemarker">
        <priority value="ERROR"/>
    </category>

    <category name="org.apache.activemq">
        <priority value="INFO"/>
    </category>

    <category name="org.hsqldb">
        <priority value="DEBUG"/>
    </category>

    <category name="org.apache.camel">
        <priority value="INFO"/>
    </category>

    <category name="example">
        <priority value="INFO"/>
    </category>
    
    <category name="org.springframework">
        <priority value="ERROR"/>
    </category>
    
    <category name="org.apache.camel">
        <priority value="ERROR"/>
    </category>

    <!-- ======================= -->
    <!-- Setup the Root category -->
    <!-- ======================= -->

    <root>
        <appender-ref ref="CONSOLE"/>
    </root>

</log4j:configuration>

