<profiles>
  <profile>
    <id>tomcat5x</id>
    <properties>
    	<catalina.home><!-- Tomcat location --></catalina.home>
    	<catalina.deploy.url>http://localhost:8080/manager</catalina.deploy.url>
    	<catalina.manager.uname>milyn</catalina.manager.uname>
    	<catalina.manager.password>milyn</catalina.manager.password>
    </properties>
  </profile>
</profiles>