name: Benchmark

on:
  push:
    branches: [ master ]
    paths-ignore:
      - 'docs/**'
      - '**.adoc'

jobs:
  benchmark:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Benchmark
        run: |
          mvn install -B -Dmaven.javadoc.skip=true -DskipTests
          cd benchmark
          java -XX:+FlightRecorder -XX:StartFlightRecording=delay=30s,filename=recording.jfr -XX:+AlwaysPreTouch -XX:ParallelGCThreads=1 -jar target/benchmark-app-jar-with-dependencies.jar
          tar -czvf recording.tar.gz recording.jfr
      - name: Archive
        uses: actions/upload-artifact@v2
        with:
          name: recording
          path: benchmark/recording.tar.gz
